.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    list-style: none;
    margin: 0;
    background: #000000;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #ffffff;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 100;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;


    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row;

    /* Then we define how is distributed the remaining space */
    justify-content: center;

    padding: ;
    margin: px;
    list-style: none;
}
.container {
    align-items: center;
}

.flex-item {
    background: #c4c3c2;
    padding: 20px;
    width: 600px;
    height: 250vh;
    margin-top: 0px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align:justify ;
}



.flex-container1 {
    /* We first create a flex layout context */
    display:flex;
    flex-direction: column;
    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column;

    /* Then we define how is distributed the remaining space */
    justify-content: center;

    padding: 20px;
    margin: 0px;
    list-style: none;
}
.container {
    align-items: start;


}

.flex-item1 {
    background-color: #c4c3c2;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    margin-left: 80px;
    margin-top: -2095px;
    color: #8800ff;
    font-weight: bold;

}

.product {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -360px auto;
    margin-left: -250px;
    flex-direction: column;
}
.product_price {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}

.product1 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name1 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 55px auto;
    margin-left: 250px;
    flex-direction: column;
}
.product_price1 {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn1 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product2 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-left: -250px;
    flex-direction: column;
}
.product_price2 {
    font-size: 20px;
    text-align: center;
}
.product_footer2 {

}
.btn2 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product3 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products3 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -305px auto;
    margin-left: 250px;
    flex-direction: column;
}
.product_price3 {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn3 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product4 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name4 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products4 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 350px auto;
    margin-left: -250px;
    flex-direction: column;
}
.product_price4 {
    font-size: 20px;
    text-align: center;
}
.product_footer4 {

}
.btn4 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product5 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name5 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products5 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -655px auto;
    margin-left: 250px;
    flex-direction: column;
}
.product_price5 {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn5 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product6 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body6 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name6 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products6 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 700px auto;
    margin-left: -250px;
    flex-direction: column;
}
.product_price6 {
    font-size: 20px;
    text-align: center;
}
.product_footer6 {

}
.btn6 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product7 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body7 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name7 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products7 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -1005px auto;
    margin-left: 250px;
    flex-direction: column;
}
.product_price7 {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn7 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product8 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body8 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name8 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products8 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1040px auto;
    margin-left: -250px;
    flex-direction: column;
}
.product_price8 {
    font-size: 20px;
    text-align: center;
}
.product_footer8 {

}
.btn8 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}
.product9 {
    margin: 10px;
    padding: 0px;
    width: 219px;
    height: 219px;
}
.product_body9 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.product_name9 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}

.products9 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -1345px auto;
    margin-left: 250px;
    flex-direction: column;
}
.product_price9 {
    font-size: 20px;
    text-align: center;
}
.product_footer {

}
.btn9 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 20px;
}

